# R history files
.Rhistory
.Rapp.history


# data folders
vids
vids/*
data
data/*

# R Environment Variables
.Renviron


# macOS temporary files
.DS_Store
*.aux
*.log
*.out
*.txt
*~*


# Octave/MATLAB temp files
*.m~
*.mat
